# Importing Libraries and Data

In [1]:
import pandas as pd

In [2]:
kchd = pd.read_csv('data/kc_house_data.csv')

# Exploring DataFrame

In [3]:
kchd.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'greenbelt', 'nuisance', 'view',
       'condition', 'grade', 'heat_source', 'sewer_system', 'sqft_above',
       'sqft_basement', 'sqft_garage', 'sqft_patio', 'yr_built',
       'yr_renovated', 'address', 'lat', 'long'],
      dtype='object')

In [4]:
kchd.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,lat,long
count,3.015500e+04,3.015500e+04,30155.000000,30155.000000,30155.000000,3.015500e+04,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000
mean,4.538104e+09,1.108536e+06,3.413530,2.334737,2112.424739,1.672360e+04,1.543492,1809.826098,476.039396,330.211142,217.412038,1975.163953,90.922301,47.328076,-121.317397
std,2.882587e+09,8.963857e+05,0.981612,0.889556,974.044318,6.038260e+04,0.567717,878.306131,579.631302,285.770536,245.302792,32.067362,416.473038,1.434005,5.725475
min,1.000055e+06,2.736000e+04,0.000000,0.000000,3.000000,4.020000e+02,1.000000,2.000000,0.000000,0.000000,0.000000,1900.000000,0.000000,21.274240,-157.791480
25%,2.064175e+09,6.480000e+05,3.000000,2.000000,1420.000000,4.850000e+03,1.000000,1180.000000,0.000000,0.000000,40.000000,1953.000000,0.000000,47.405320,-122.326045
50%,3.874011e+09,8.600000e+05,3.000000,2.500000,1920.000000,7.480000e+03,1.500000,1560.000000,0.000000,400.000000,150.000000,1977.000000,0.000000,47.551380,-122.225585
75%,7.287100e+09,1.300000e+06,4.000000,3.000000,2619.500000,1.057900e+04,2.000000,2270.000000,940.000000,510.000000,320.000000,2003.000000,0.000000,47.669913,-122.116205
max,9.904000e+09,3.075000e+07,13.000000,10.500000,15360.000000,3.253932e+06,4.000000,12660.000000,8020.000000,3580.000000,4370.000000,2022.000000,2022.000000,64.824070,-70.074340

In [5]:
kchd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.8+ MB

In [6]:
kchd.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

# Google Maps API

In [ ]:
!pip install geocoder

In [7]:
import geocoder

In [1]:
api_key = ''

In [9]:
kchd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.8+ MB

In [10]:
df1 = kchd.head(2)

In [11]:
for index, row in df1.iterrows():
    
    result = geocoder.google([row['lat'], row['long']], method='reverse', key=api_key)
    print(result.raw)

{'address_components': [{'long_name': '2102', 'short_name': '2102', 'types': ['street_number']}, {'long_name': 'Southeast 21st Court', 'short_name': 'SE 21st Ct', 'types': ['route']}, {'long_name': 'Renton', 'short_name': 'Renton', 'types': ['locality', 'political']}, {'long_name': 'King County', 'short_name': 'King County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Washington', 'short_name': 'WA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '98055', 'short_name': '98055', 'types': ['postal_code']}, {'long_name': '4556', 'short_name': '4556', 'types': ['postal_code_suffix']}], 'formatted_address': '2102 SE 21st Ct, Renton, WA 98055, USA', 'geometry': {'bounds': {'northeast': {'lat': 47.4620853, 'lng': -122.1904026}, 'southwest': {'lat': 47.46192, 'lng': -122.1906429}}, 'location': {'lat': 47.4620346, 'lng': -122.1904967}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 47.4633516302915, 'lng': -122.1891737697085}, 'southwest': {'lat': 47.4606536697085, 'lng': -122.1918717302915}}}, 'place_id': 'ChIJqxHAg11dkFQRD6Fb_netTJs', 'types': ['premise'], 'street_number': {'long_name': '2102', 'short_name': '2102'}, 'route': {'long_name': 'Southeast 21st Court', 'short_name': 'SE 21st Ct'}, 'locality': {'long_name': 'Renton', 'short_name': 'Renton'}, 'political': {'long_name': 'United States', 'short_name': 'US'}, 'administrative_area_level_2': {'long_name': 'King County', 'short_name': 'King County'}, 'administrative_area_level_1': {'long_name': 'Washington', 'short_name': 'WA'}, 'country': {'long_name': 'United States', 'short_name': 'US'}, 'postal_code': {'long_name': '98055', 'short_name': '98055'}, 'postal_code_suffix': {'long_name': '4556', 'short_name': '4556'}}
{'address_components': [{'long_name': '11229', 'short_name': '11229', 'types': ['street_number']}, {'long_name': 'Greenwood Avenue North', 'short_name': 'Greenwood Ave N', 'types': ['route']}, {'long_name': 'Broadview', 'short_name': 'Broadview', 'types': ['neighborhood', 'political']}, {'long_name': 'Seattle', 'short_name': 'Seattle', 'types': ['locality', 'political']}, {'long_name': 'King County', 'short_name': 'King County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Washington', 'short_name': 'WA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '98133', 'short_name': '98133', 'types': ['postal_code']}], 'formatted_address': '11229 Greenwood Ave N, Seattle, WA 98133, USA', 'geometry': {'location': {'lat': 47.711531, 'lng': -122.3559196}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 47.7128799802915, 'lng': -122.3545706197085}, 'southwest': {'lat': 47.7101820197085, 'lng': -122.3572685802915}}}, 'place_id': 'ChIJ8UKeJ7cWkFQRX7GF4AABtYc', 'plus_code': {'compound_code': 'PJ6V+JJ Seattle, WA, USA', 'global_code': '84VVPJ6V+JJ'}, 'types': ['street_address'], 'street_number': {'long_name': '11229', 'short_name': '11229'}, 'route': {'long_name': 'Greenwood Avenue North', 'short_name': 'Greenwood Ave N'}, 'neighborhood': {'long_name': 'Broadview', 'short_name': 'Broadview'}, 'political': {'long_name': 'United States', 'short_name': 'US'}, 'locality': {'long_name': 'Seattle', 'short_name': 'Seattle'}, 'administrative_area_level_2': {'long_name': 'King County', 'short_name': 'King County'}, 'administrative_area_level_1': {'long_name': 'Washington', 'short_name': 'WA'}, 'country': {'long_name': 'United States', 'short_name': 'US'}, 'postal_code': {'long_name': '98133', 'short_name': '98133'}}

In [ ]:
zips =[]
hoods = []


for index, row in df1.iterrows():
    result = geocoder.google([row['lat'], row['long']], method='reverse', key=api_key)
    zips.append(dict(result.raw)['postal_code']['long_name'])
    hoods.append(result.raw['address_components'][2]['long_name'])
df1['zips'] = zips
df1['hoods'] = hoods

In [ ]:
zips = []
hoods = []

for index, row in df1.iterrows():
    result = geocoder.google([row['lat'], row['long']], method='reverse', key=api_key)

    # Error handling for postal_code
    try:
        zip_code = dict(result.raw)['postal_code']['long_name']
    except KeyError:
        zip_code = None
    zips.append(zip_code)

    # Error handling for neighborhood
    try:
        neighborhood = result.raw['address_components'][2]['long_name']
    except (KeyError, IndexError):
        neighborhood = None
    hoods.append(neighborhood)

df1['zips'] = zips
df1['hoods'] = hoods

In [ ]:
df1

In [ ]:
zips =[]
hoods = []

for index, row in kchd.iterrows():
    result = geocoder.google([row['lat'], row['long']], method='reverse', key=api_key)
    zips.append(dict(result.raw)['postal_code']['long_name'])
    hoods.append(result.raw['address_components'][2]['long_name'])
kchd['zips'] = zips
kchd['hoods'] = hoods

In [22]:
dfx = kchd

In [ ]:
dfx

In [ ]:
pip install tqdm

In [12]:
from tqdm import tqdm

In [ ]:
hoods = []

for i in tqdm(range(10000)):
    for index, row in dfx.iterrows():
        result = geocoder.google([row['lat'], row['long']], method='reverse', key=api_key)

    # Error handling for neighborhood
        try:
            neighborhood = result.raw['address_components'][2]['long_name']
        except (KeyError, IndexError):
            neighborhood = None
        hoods.append(neighborhood)

dfx['hoods'] = hoods

In [ ]:
hoods = []

# Using the progress bar with the iteration over the dataframe rows
for index, row in tqdm(dfx.iterrows(), total=dfx.shape[0]):
    result = geocoder.google([row['lat'], row['long']], method='reverse', key=api_key)

    # Error handling for neighborhood
    try:
        neighborhood = result.raw['address_components'][2]['long_name']
    except (KeyError, IndexError):
        neighborhood = None
    hoods.append(neighborhood)

dfx['hoods'] = hoods

 16%|█▌        | 4793/30155 [38:01:33<1:12:57,  5.79it/s]

In [ ]:
df

In [21]:
dfx.head(1000)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long,hoods
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.190520,Renton
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.355910,Broadview
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.225200,Seattle
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.290200,Rainier Valley
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.071880,Talus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,8682280290,7/2/2021,825000.0,2,2.0,1510,3767,1.0,NO,YES,...,1510,0,480,430,2006,0,"24322 NE Vine Maple Way, Redmond, Washington 9...",47.702880,-122.014545,Redmond
96,2749600270,12/20/2021,850000.0,4,2.0,1740,5760,2.0,NO,NO,...,1740,0,0,130,1949,0,"3433 9th Avenue West, Seattle, Washington 9811...",47.651550,-122.369180,North Queen Anne
97,424049012,7/21/2021,725000.0,4,3.5,1630,1717,3.0,NO,NO,...,1390,500,260,0,2009,0,"820 28th Avenue South, Seattle, Washington 981...",47.595175,-122.296265,Central District
98,1023069037,9/21/2021,825000.0,3,2.0,2160,38252,1.5,NO,NO,...,1510,650,0,80,1908,1990,"12720 Issaquah Hobart Road Southeast, Issaquah...",47.487800,-122.025260,Issaquah
99,3422059231,7/16/2021,700000.0,5,2.5,2640,7882,2.0,NO,NO,...,2640,0,600,160,2002,0,"28305 143rd Place Southeast, Kent, Washington ...",47.347970,-122.150410,Kent